.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-page img {
    margin-top: 20px;
    width: 80%;
    border-radius: 5px;
    }
    
    .mat-red {
        background-color: rgb(254, 85, 67);
        color: #fff;
}