.cards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}
mat-card-title {
    height: 40px;
    padding: 5px;
}
mat-card {
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
            align-items: center;
        background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
        margin: 10px;
    max-width: 225px;
}
mat-card-actions {
    display: flex;
}
mat-card-actions button {
    justify-content: space-around;
        padding: 1px;
    }
    
    .mat-red {
        background-color: rgb(254, 85, 67);
        color: #fff;
}

.spinner {

    margin-left: auto;
    margin-right: auto;
}