<app-navbar></app-navbar>
<mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

<div class="cards">

    <mat-card *ngFor="let movie of movies;">
        <img src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions>
        <button mat-raised-button color="red"
            (click)="openGenreDialoge(movie.Genre.Name, movie.Genre.Description)">Genre</button>
        <button mat-raised-button color="red"
            (click)="openDirectorDialoge(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)">Director</button>
        <button mat-raised-button color="red"
            (click)="openMovieViewDialoge(movie.Title, movie.Description, movie.ImagePath)">Synopsis</button>
        </mat-card-actions>
        <button mat-button *ngIf="!isFav(movie._id)" (click)="addFavorite(movie._id)">
            <mat-icon color="accent">favorite_border</mat-icon>
        </button>
        <button mat-button *ngIf="isFav(movie._id)" (click)="removeFavorite(movie._id)">
            <mat-icon color="accent">favorite</mat-icon>
        </button>
        </mat-card>
</div>
